*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* debuggin */
    /* border: red solid 1px; */
}

/* Custom variable for the Roboto font */
:root {
    --system-ui: system-ui, -apple-system, Roboto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--system-ui);
    height: 100vh;
    width: 100vw;
}

/* SHARED STYLES SECTION */

/* Set all parent containers to flex box */
.header-hero-container,
.image-info-container,
.quote-section-container,
.action-container,
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header-hero-container,
footer {
    background-color: #1F2937;
}

button,
.action-container {
    background-color: #3882F6;
}

button {
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/* Header - hero container, and subcontainer styles */
.header-hero-container,
header,
header .header-logo,
header .header-links,
.hero,
.hero .hero-text,
.hero .image-container
 {
    color: #F9FAF8;
    display: flex;
    flex-flow: row wrap;
}

/* Header stylization */
.header-hero-container {
    width: 100vw;
}

.header-hero-container header .header-logo{
    font-size: 24px;
}

header {
    width: 100vw;
    justify-content: space-between;
}
